@font-face {
    font-family: 'din';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Black.woff') format('woff'), 
	url('../fonts/DINPro-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_reg';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Regular.woff') format('woff'), 
	url('../fonts/DINPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_medium';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Medium.woff') format('woff'), 
	url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_bold';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: 'din', sans-serif;
	line-height: 1.1;
	color: #272624;
}
::-webkit-input-placeholder {
	color: #4F4F4F !important;
}
:-moz-placeholder {
	color: #4F4F4F !important;
	opacity: 1;
}
::-moz-placeholder {
	color: #4F4F4F !important;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #4F4F4F !important;
}
:placeholder-shown {
	color: #7B7472 !important;
}

#top-line {
	height: 12px;
	background-color: #00608F;
}
#front-header {
	height: 1216px;
	position: relative;
	background: url('../images/front-header-bg.jpg') no-repeat center top;
}
	#front-header .container {
		position: relative;
	}
	#front-header .title {
		text-align: center;
		font-size: 30px;
		color: #FFFFFF;
		padding-top: 20px;
	}
	.phones {
		padding-top: 4px;
		text-align: right;
	}
		.phones > a {
			display: block;
			color: #A4EBFF;
			font-size: 26px;
			margin-bottom: 3px;
			font-family: 'din_bold', 'din', sans-serif;
		}
		.phones > a.callback {
			font-family: 'din', sans-serif;
			font-size: 18px;
			color: #FFFFFF;
			text-transform: uppercase;
			background: linear-gradient(to top, #FF6E00, #FFC700);
			display: inline-block;
			border-radius: 100px;
			padding: 10px 14px 10px 35px;
			margin-top: 4px;
			position: relative;
			transition: background 0.3s;
		}
			.phones > a.callback:hover {
				background: linear-gradient(to bottom, #FF6E00, #FFC700);
			}
			.phones > a.callback:before{
				content: '';
				position: absolute;
				width: 17px;
				height: 25px;
				left: 13px;
				top: 8px;
				background: url('../images/callback-bg.png') no-repeat 0 0
			}
	#inner-header {
		padding: 46px 0 65px;
		border-bottom: 8px solid #00658C; 
	}
		#inner-header .logo {
			display: block;
			width: 196px;
			height: 165px;
			background: url('../images/logo2.png') no-repeat center center;
			margin-top: 10px;
		}
		#inner-header .title {
			text-align: center;
		}
			#inner-header .title h1 {
				color: #00608B;
				font-size: 28px;
			}
			#inner-header .title .back {
				display: block;
				margin: 0 auto;
				width: 280px;
				height: 50px;
				text-align: center;
				line-height: 48px;
				color: #FFFFFF;
				font-size: 22px;
				background: #00608B;
				border-radius: 15px;
				transition: opacity 0.3s;
			}
				#inner-header .title .back:hover {
					opacity: 0.75;
				}
		#inner-header .phones {
			padding-top: 22px;
		}
			#inner-header .phones > a.callback {
				font-size: 21.15px;
				padding-top: 12px;
				padding-bottom: 12px;
				margin-right: -8px;
			}
				#inner-header .phones > a.callback::before {
					top: 11px;
				}
			#inner-header .phones > a:not(.callback) {
				color: #00608B;
				font-size: 28.5px;
			}
	nav {
		background: #00608E;
		height: 50px;
		border-radius: 18px;
		margin-top: 10px;
		position: relative;
	}
		nav .logo {
			position: absolute;
			display: block;
			width: 203px;
			height: 173px;
			left: -15px;
			top: -63px;
			background: url('../images/logo.png') no-repeat center center;
			background-size: contain;
		}
		nav ul {
			padding: 5px 0 5px 250px;
		}
			nav ul li {
				display: inline-block;
				margin-right: 10%;
				height: 40px;
				border: 3px solid transparent;
				border-radius: 20px;
				transition: border 0.3s, box-shadow 0.3s;
			}
			nav ul li:last-child {
				margin-right: 0;
			}
			nav ul li.active, nav ul li:hover {
				border: 3px solid #A4EBFF;
				box-shadow: 0 0 0 1px #71CDE8, inset 0 0 0 1px #71CDE8;
			}
				nav ul li a {
					font-family: 'din_bold', 'din', sans-serif;
					color: #FFFFFF;
					font-size: 21.5px;
					line-height: 28px;
					padding: 0 20px;
				}
	.utp {
		color: #00608E;
		font-size: 45px;
		text-align: center;
		padding-top: 24px;
		line-height: 1;
	}
	.get-a-gift {
		position: absolute;
		right: 0;
		top: 450px;
		width: 300px;
		min-height: 300px;
		background: #006C91;
		box-shadow: 0 2px 3px 2px rgba(0,110,153,0.5);
		z-index: 3;
		padding: 20px 25px;
		text-align: center;
	}
		.get-a-gift h3 {
			font-size: 26px;
			color: #FFBF00;
			margin-bottom: 14px;
		}
		.get-a-gift p {
			font-size: 20px;
			font-family: 'din_medium', 'din', sans-serif;
			line-height: 1.2;
			color: #FFFFFF;
		}
		.get-a-gift p span {
			color: #FFBF00;
			font-family: 'din', sans-serif;
		}
		.get-a-gift form {
			padding-top: 25px;
		}
		.get-a-gift input {
			width: 95%;
			height: 35px;
			border-radius: 20px;
			padding: 0 10px;
			margin-bottom: 21px;
		}
		.get-a-gift input[type="phone"],
		.get-a-gift input[type="text"] {
			color: #4F4F4F;
			font-family: 'din_reg', 'din', sans-serif;
			font-size: 18px;
		}
		.get-a-gift input[type="submit"] {
			height: 60px;
			margin-bottom: 0;
			padding: 0;
			background: linear-gradient(to top, #FF7108, #F8C605);
			transition: background;
			font-size: 24px;
			color: #FFFFFF;
		}
			.get-a-gift input[type="submit"]:hover  {
				background: linear-gradient(to bottom, #FF7108, #F8C605);
			}
			.figure {
				position: relative;
				overflow: hidden;
			}
				.figure .top, .figure .bottom {
					position: absolute;
					width: 100%;
					height: 0;
					left: 0;
				}
				.figure .top {
					top: 0;
				}
				.figure .bottom {
					bottom: 0;
				}
				.figure .top:before, .figure .bottom:before,
				.figure .top:after, .figure .bottom:after {
					content: '';
					z-index: 3;
					position: absolute;
					width: 20px;
					height: 60px;
					background: #006C91;
				}
				.figure .top:before {
					left: 0;
					top: -24px;
					transform: rotate(27deg);
				}
				.figure .bottom:before {
					left: 0;
					bottom: -24px;
					transform: rotate(-27deg);
				}
				.figure .top:after {
					right: 0;
					top: -24px;
					transform: rotate(-27deg);
				}
				.figure .bottom:after {
					right: 0;
					bottom: -24px;
					transform: rotate(27deg);
				}
				
	.perks {
		position: absolute;
		width: 100%;
		height: 563px;
		bottom: 0;
		left: 0;
		background: url('../images/perks-bg.png') no-repeat center top;
		z-index: 2;
		padding-top: 217px;
	}
		.perks .row > div {
			text-align: center;
		}
		.perks .ico {
			max-width: 183px;
			height: 180px;
			margin: 0 auto 20px;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: contain;
		}
			.perks .row > div:nth-child(1) .ico {
				background-image: url('../images/perk-1.png');
			}
			.perks .row > div:nth-child(2) .ico {
				background-image: url('../images/perk-2.png');
			}
			.perks .row > div:nth-child(3) .ico {
				background-image: url('../images/perk-3.png');
			}
			.perks .row > div:nth-child(4) .ico {
				background-image: url('../images/perk-4.png');
			}
		.perks p {
			color: #00608B;
			font-family: 'din_medium', 'din', sans-serif;
			font-size: 20px;
		}
		
.choose-top {
	background: url('../images/choose-top.png') no-repeat center 0;
	height: 126px;
	margin-top: -72px;
	margin-bottom: 19px;
}
.palki {
	margin-bottom: 20px;
}
.palki h2, .size h2 {
	font-size: 47px;
	text-align: center;
	color: #00608B;
	line-height: 0.9;
	margin-bottom: 40px;
}
.palki-item {
	min-height: 540px;
	position: relative;
	color: #00608B;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 35px;
	margin-bottom: 50px;
}
.palki-1 {
	background-image: url('../images/palki-1.png');
}
.palki-2 {
	background-image: url('../images/palki-2.png');
}
.palki-3 {
	background-image: url('../images/palki-3.png');
}
.palki-4 {
	background-image: url('../images/palki-4.png');
}
	.palki-item .sticker {
		position: absolute;
		top: 30px;
		right: 20px;
		width: 136px;
		height: 137px;
		background: url('../images/sticker.png') no-repeat 0 0;
	}
	.palki-item .name {
		font-size: 30px;
		margin-bottom: 6px;
	}
	.palki-item .price {
		font-size: 36px;
		font-family: 'din_medium', 'din', sans-serif;
		margin-bottom: 135px;
	}
	.palki-item .name2 {
		text-align: right;
		font-size: 18px;
		margin-bottom: 12px;
	}
		.palki-item .name2 h3 {
			font-size: 25px;
			margin-bottom: 6px;
		}
	.palki-item .description {
		text-align: right;
		font-size: 20px;
		font-family: 'din_medium', 'din', sans-serif;
		padding-left: 50%;
		margin-bottom: 15px;
	}
	.palki-item .buttons {
		text-align: right;
	}
	.palki-item .about{
		width: 130px;
		display: inline-block;
		margin: 0 10px 25px 0;
	}
		.palki-item .about .top:before,
		.palki-item .about .bottom:before {
			left: -13px;
			background-color: #FFFFFF;
		}
		.palki-item .about .top:after,
		.palki-item .about .bottom:after {
			right: -13px;
			background-color: #FFFFFF;
		}
		.palki-item .about a {
			height: 40px;
			display: block;
			background: linear-gradient(to top, #004B93, #1B87B8);
			color: #FFFFFF;
			text-align: center;
			font-size: 19px;
			font-family: 'din_medium', 'din', sans-serif;
			line-height: 38px;
			transition: background 0.3s;
		}
			.palki-item .about a:hover {
				background: linear-gradient(to bottom, #004B93, #1B87B8);
			}
	.oneclick {
		display: inline-block;
		width: 250px;
	}
	.palki-item .oneclick {
		margin-right: 30px;
	}
		.oneclick .top:before,
		.oneclick .bottom:before {
			left: -5px;
			background-color: #FFFFFF;
		}
		.oneclick .top:after,
		.oneclick .bottom:after {
			right: -5px;
			background-color: #FFFFFF;
		}
		.oneclick a {
			display: block;
			height: 75px;
			background: linear-gradient(to top, #F26D0E, #F8C605);
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
			line-height: 73px;
			transition: background 0.3s;
		}
			.oneclick a:hover {
				background: linear-gradient(to bottom, #F26D0E, #F8C605);
			}
			
.size {
	background: #E6F3FF;
	border-top: 9px solid #4EABC7;
	position: relative;
	min-height: 300px;
	padding-top: 83px;
	padding-bottom: 95px;
}
	.size:before {
		content: '';
		position: absolute;
		width: 213px;
		height: 136px;
		top: -77px;
		left: calc(50% - 106px);
		background: url('../images/size-top.png') no-repeat 0 0;
	}
	.size h2 {
		margin-bottom: 77px;
	}
	.begunok {
		color: #00608B;
		font-size: 24px;
		font-family: 'din_medium', 'din', sans-serif;
		text-align: center;
		padding-top: 38px;
	}
		.begunok span {
			margin-bottom: 20px;
			display: inline-block;
		}
	.begunok-area {
		padding: 47px 0;
	}
	#slider {
		position: relative;
		width: 90%;
		margin: 0 auto;
		height: 5px;
		background: #00608B;
		border: none;
		border-radius: 0;
		border-bottom: 2px solid #0080BA;
	}
		#slider .minus, #slider .plus {
			position: absolute;
			width: 50px;
			height: 40px;
			box-shadow: 2px 2px 0 0 #FF5E00;
			background: linear-gradient(to top, #FF6B00, #FFCC00);
			top: -18px;
			font-size: 47px;
			color: #FFFFFF;
			line-height: 38px;
			text-align: center;
			cursor: pointer;
		}
		#slider .minus {
			left: -50px;
		}
		#slider .plus {
			right: -50px;
		}
		#slider .ui-slider-handle {
			width: 85px;
			height: 55px;
			background: linear-gradient(to top, #FF6C00, #FFCC00);
			top: -26px;
			margin-left: -43px;
			box-shadow: 2px 2px 0 0 #FF5E00;
			border-radius: 0;
			border: none !important;
		}
		
		
.otzivi {
	background: #00608B;
	border-top: 10px solid #16729C;
	min-height: 300px;
	position: relative;
	padding: 66px 0 78px;
	color: #FFFFFF;
}
	.otzivi:before {
		content: '';
		position: absolute;
		width: 211px;
		height: 122px;
		top: -77px;
		left: calc(50% - 106px);
		background: url('../images/otzivi-top.png') no-repeat 0 0;
	}
	.otzivi h2 {
		font-size: 47px;
		text-align: center;
		margin-bottom: 33px;
	}
	.otziv-prev, .otziv-next {
		width: 65px;
		height: 35px;
		margin: 0 auto;
		background-image: url('../images/otzivi-controls.png');
		background-repeat: no-repeat;
		cursor: pointer;
	}
		.otziv-prev {
			background-position: center top;
			margin-bottom: 17px;
		}
		.otziv-next {
			background-position: center bottom;
			margin-top: 17px;
		}
	.otziv {
		margin-bottom: 20px;
	}
	.otziv .photo {
		width: 175px;
		height: 175px;
		border-radius: 100px;
		border: 8px solid #FFFFFF;
		box-shadow: 0 5px 10px 0 rgba(0,86,125,0.75);
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../images/otsiv-0.jpg');
		float: left;
		margin: 0 50px;
	}
	.otzivi .text {
		font-size: 22px;
		padding-top: 27px;
	}
	.otzivi .text span {
		display: block;
	}
	.otzivi .text p {
		font-family: 'din_medium', 'din', sans-serif;
		margin-bottom: 20px;
	}
	.otziv .readmore {
		width: 165px;
		height: 30px;
		float: right;
		position: relative;
		margin: 0 50px;
		overflow: hidden;
	}
		.readmore .top:before, .readmore .bottom:before,
		.readmore .top:after, .readmore .bottom:after {
			content: '';
			width: 10px;
			height: 30px;
			position: absolute;
			background: #00608B;
		}
			.readmore .top:before {
				transform: rotate(27deg);
				top: -50%;
				left: -2px;
			}
			.readmore .bottom:before {
				transform: rotate(-27deg);
				bottom: -50%;
				left: -2px;
			}
			.readmore .top:after {
				transform: rotate(-27deg);
				top: -50%;
				right: -2px;
			}
			.readmore .bottom:after {
				transform: rotate(27deg);
				bottom: -50%;
				right: -2px;
			}
		
	.otziv .readmore a {
		font-size: 16px;
		font-family: 'din_medium', 'din', sans-serif;
		background: #FFFFFF;
		color: #00608B;
		display: block;
		height: 30px;
		line-height: 28px;
		text-align: center;
	}
	
		.otziv:nth-child(even) .photo {
			float: right;
		}
		.otziv:nth-child(even) .readmore {
			float: left;
		}
		.otziv:nth-child(even) .text {
			text-align: right;
		}
		
	.otziv-add {
		position: relative;
		width: 400px;
		height: 76px;
		margin: 34px auto;
		overflow: hidden;
	}
	.otziv-add  a {
		height: 76px;
		display: block;
		text-align: center;
		color: #00608B;
		background: #FFFFFF;
		font-size: 23px;
		line-height: 74px;
		font-family: 'din_medium', 'din', sans-serif;
	}
		.otziv-add .top:before, .otziv-add .bottom:before,
		.otziv-add .top:after, .otziv-add .bottom:after {
			content: '';
			width: 30px;
			height: 90px;
			position: absolute;
			background: #00608B;
		}
			.otziv-add .top:before {
				transform: rotate(27deg);
				top: -50%;
				left: -8px;
			}
			.otziv-add .bottom:before {
				transform: rotate(-27deg);
				bottom: -50%;
				left: -8px;
			}
			.otziv-add .top:after {
				transform: rotate(-27deg);
				top: -50%;
				right: -8px;
			}
			.otziv-add .bottom:after {
				transform: rotate(27deg);
				bottom: -50%;
				right: -8px;
			}
			
.questions {
	background: #E6F3FF;
	border-top: 9px solid #4EABC7;
	position: relative;
	min-height: 300px;
	padding-top: 105px;
	padding-bottom: 54px;
}
	.questions:before {
		content: '';
		position: absolute;
		width: 213px;
		height: 136px;
		top: -77px;
		left: calc(50% - 106px);
		background: url('../images/questions-top.png') no-repeat 0 0;
	}
	.questions .row>div:first-child {
		padding-top: 52px;
	}
	.questions .row>div:last-child {
		text-align: center;
	}
	.questions h2 {
		color: #00608E;
		font-size: 36px;
		margin-bottom: 6px;
	}
	.questions span{
		color: #00608E;
		font-size: 27px;
		font-family: 'din_medium', 'din', sans-serif;
		display: inline-block;
		margin-bottom: 46px;
	}
	.questions input {
		width: 245px;
		height: 36px;
		display: block;
		margin: 0 auto 30px;
		padding: 0 20px;
		color: #8A8A8A;
		font-size: 20px;
		font-family: 'din_medium', 'din', sans-serif;
	}
	.questions input[type="phone"] {
		margin-bottom: 40px;
	}
	.questions input[type="submit"] {
		height: 78px;
		font-family: 'din', sans-serif;
		color: #FFFFFF;
		font-size: 24px;
		background: linear-gradient(to top, #FF6C00, #FFC700);
		margin-bottom: 0;
		text-transform: uppercase;
	}
		.questions input[type="submit"]:hover {
			background: linear-gradient(to bottom, #FF6C00, #FFC700);
		}
	.questions .figure {
		width: 245px;
		margin: 0 auto 30px;
	}
	.questions .top:before, .questions .bottom:before {
		background-color: #E8F2FF;
		left: -5px;
	}
	.questions .top:before {
		top: -23px;
	}
	.questions .bottom:before {
		bottom: -23px;
	}
	.questions .top:after, .questions .bottom:after {
		background-color: #E8F2FF;
		right: -5px;
	}
	.questions .top:after {
		top: -23px;
	}
	.questions .bottom:after {
		bottom: -23px;
	}
	
footer {
	min-height: 100px;
	background: #00608E;
	position: relative;
	font-family: 'din_medium', 'din', sans-serif;
}
	footer:before {
		content: '';
		position: absolute;
		height: 118px;
		background: url('../images/footer-top.png') no-repeat center top;
		background-size: cover;
		width: 100%;
		left: 0;
		top: -118px;
	}
	footer .container {
		top: -45px;
		position: relative;
	}
	footer a {
		color: #FFFFFF;
	}
	footer .footer-phones {
		text-align: center;
		margin-bottom: 25px;
	}
		footer .footer-phones a {
			display: inline-block;
			padding: 0 24px 0 37px;
			height: 29px;
			line-height: 28px;
			background: url('../images/footer-phones-ico.png') no-repeat left center;
			font-size: 22px;
			font-family: 'din_medium', 'din', sans-serif;
		}
	footer .footer-links {
		
	}
		footer .footer-links a {
			display: block;
			font-size: 21px;
			text-decoration: underline;
			padding-left: 43px;
			height: 35px;
			line-height: 45px;
			margin-bottom: 10px;
			white-space: nowrap;
		}
			footer .footer-links a:first-child {
				background: url('../images/footer-links-ico-1.png') no-repeat 5px bottom;
			}
			footer .footer-links a:last-child {
				background: url('../images/footer-links-ico-2.png') no-repeat left bottom;
			}
	footer .footer-info {
		font-size: 13px;
	}
		footer .footer-info p {
			margin-bottom: 20px;
			color: #FFFFFF;
		}
	footer .footer-card {
		padding-top: 29px;
		margin-bottom: 20px;
	}
	
	
.content {
	min-height: 500px;
	padding: 150px 0;
	position: relative;
}
	.content:before {
		content: '';
		position: absolute;
		width: 213px;
		height: 130px;
		top: -68px;
		left: calc(50% - 106px);
		background: url('../images/tovar-top.png') no-repeat 0 0;
	}
	.content h2 {
		text-align: center;
		color: #00608E;
		font-size: 48px;
	}
.tovar {
	position: relative;
	color: #2B2A29;
	font-family: 'din_medium', 'din', sans-serif;
	margin-bottom: 62px;
}
	.tovar .row>div:first-child {
		text-align: center;
	}
	.tovar-image {
		display: inline-block;
	}
	.tovar .name {
		color: #00608B;
		font-family: 'din', sans-serif;
		margin-bottom: 20px;
	}
		.tovar .name h2 {
			font-weight: normal;
			font-size: 36px;
		}
		.tovar .name span {
			font-size: 27px;
		}
	.tovar .references {
		font-size: 20px;
		margin-bottom: 30px;
	}
		.tovar .references li {
			background: url('../images/references-li-dots.png') repeat-x left bottom;
		}
		.tovar .references li {
			width: 80%;
			margin-bottom: 4px;
		}
			.tovar .references li span {
				background: #FFFFFF;
				padding: 0 10px;
			}
			.tovar .references li span:first-child {
				
				width: 30%;
			}
			.tovar .references li span:last-child {
				float: right;
				width: 50%;
			}
	.tovar .complete-set {
		font-size: 20px;
		padding-left: 10px;
		margin-bottom: 32px;
	}
		.tovar .complete-set h4 {
			font-family: 'din_bold', 'din', sans-serif;
			font-size: 22px;
			margin-bottom: 14px;
		}
		.tovar .complete-set p {
			margin-bottom: 4px;
		}
	.tovar .vibor {
		font-family: 'din_bold', 'din', sans-serif;
		font-size: 24px;
		color: #2B2A29;
		padding-left: 10px;
	}
		.tovar .vibor span {
			display: inline-block;
		}
		.vibor > div > span:first-child {
			width: 230px;
		}
		.vibor .color {
			margin-bottom: 18px;
		}
		.color .blue, .color .black {
			display: inline-block;
			position: relative;
			padding-left: 5px;
			padding-top: 5px;
			width: 50px;
			height: 50px;
			background: transparent;
			cursor: pointer;
		}
		.color .blue span{
			width: 40px;
			height: 40px;
			background: #006593;
			display: inline-block;
		}
		.color .black span{
			width: 40px;
			height: 40px;
			background: #27292C;
			display: inline-block;
		}
		.color .active, .color .blue:hover, .color .black:hover {
			background: linear-gradient(to top, #FF6E00, #FFCC19);
		}
	.temljak {
		margin-bottom: 40px;
	}
	.temljak-1, .temljak-2 {
		width: 94px;
		height: 42px;
		background: transparent;
		color: #00658B;
		font-size: 30px;
		font-family: 'din_medium', 'din', sans-serif;
		text-align: center;
		/*cursor: pointer;*/
		padding-top: 5px;
	}
		.temljak-1 span, .temljak-2 span {
			background: #FFFFFF;
			width: 84px;
			height: 32px;
			border: 3px solid #00688D;
			box-sizing: content-box;
		}
		/*.temljak .active, .temljak-1:hover, .temljak-2:hover {
			background: linear-gradient(to top, #FF6E00, #FFCC19);
		}
		.temljak .active span, .temljak-1:hover span, .temljak-2:hover span {
			border: none;
			box-sizing: border-box;
		}*/
	.hint {
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background: #00688D;
		color: #FFFFFF;
		text-align: center;
		font-family: 'din_medium', 'din', sans-serif;
		font-size: 26px;
		cursor: pointer;
		transition: opacity 0.3s;
		position: relative;
	}
		.hint:hover .hint-text{
			display: block;
		}
		.hint-text {
			width: 311px;
			height: 249px;
			background: url("../images/hint.png") no-repeat 0 0;
			position: absolute;
			top: 32px;
			left: -93px;
			display: none;
			z-index: 4;
		}
	.tovar .price {
		font-size: 40px;
		font-family: 'din_bold', 'din', sans-serif;
		padding-left: 10px;
		margin-bottom: 10px;
	}
		.tovar .price span {
			color: #272624;
			display: inline-block;
			position: relative;
			
		}
			.tovar .price span span {
				width: 110%;
				left: -5%;
				position: absolute;
				height: 3px;
				background: #272624;
				top: 52%;
			}
	.tovar .new-price {
		
	}
		.tovar .new-price p {
			color: #FF9700;
			font-size: 25px;
			font-family: 'din_bold', 'din', sans-serif;
		}
		.tovar .new-price span {
			color: #006495;
			font-size: 55px;
			font-family: 'din_bold', 'din', sans-serif;
		}
	.buy-button {
		margin-top: 20px;
		position: relative;
		width: 290px;
		height: 90px;
	}
		.buy-button a {
			display: block;
			background: linear-gradient(to top, #FF6D00, #FFCD00);
			height: 90px;
			text-align: center;
			line-height: 88px;
			font-size: 37px;
			font-family: 'din_bold', 'din', sans-serif;
			color: #FFFFFF;
		}
			.buy-button a:hover {
				background: linear-gradient(to bottom, #FF6D00, #FFCD00);
			}
		.buy-button .top, .buy-button .bottom {
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
		}
		.buy-button .top {
			top: 0;
		}
		.buy-button .bottom {
			bottom: 0;
		}
		.buy-button .top:before, .buy-button .bottom:before, .buy-button .top:after, .buy-button .bottom:after {
			content: '';
			z-index: 3;
			position: absolute;
			width: 20px;
			height: 60px;
			background: #FFFFFF;
		}
			.buy-button .top:before {
				top: -17px;
				left: -5px;
				transform: rotate(27deg);
			}
			.buy-button .bottom:before {
				bottom: -17px;
				left: -5px;
				transform: rotate(-27deg);
			}
			.buy-button .top:after {
				top: -17px;
				right: -5px;
				transform: rotate(-27deg);
			}
			.buy-button .bottom:after {
				bottom: -17px;
				right: -5px;
				transform: rotate(27deg);
			}
	.tovar > .row:first-child {
		margin-bottom: 40px;
	}
	.tovar .description {
		color: #272624;
		text-align: left !important;
	}
		.tovar .description strong {
			font-family: 'din_bold', 'din', sans-serif;
			font-size: 24px;
			margin-bottom: 10px;
			display: inline-block;
		}
		.tovar .description p {
			font-family: 'din_medium', 'din', sans-serif;
			font-size: 22px;
			margin-bottom: 10px;
		}

.accessories {
	
}	
	.accessories h2 {
		color: #00638F;
		font-size: 37px;
		text-align: center;
		margin-bottom: 13px;
	}
	.accessories > .row:first-child div {
		text-align: center;
		color: #00638F;
		font-size: 23px;
		font-family: 'din_medium', 'din', sans-serif;
		line-height: 36px;
	}
	.accessories > .row:first-child div:nth-child(2),
	.accessories > .row:first-child div:nth-child(3) {
		border-right: 2px solid #3F3F3F;
	}
		.accessories > .row:first-child div span {
			color: #FF5600;
		}
	.accessories > .row:nth-child(1) {
		margin-bottom: 30px;
	}
	.accessories > .row:nth-child(2) {
		position: relative;
	}
		.accessories > .row:nth-child(2) >div {
			text-align: center;
			color: #272624;
		}
		.accessories .image {
			height: 249px;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.accessories .name {
			color: #272624;
			font-size: 25px;
			margin-bottom: 3px;
		}
		.accessories .descr {
			font-size: 22px;
			font-family: 'din_medium', 'din', sans-serif;
			line-height: 1.18;
			margin-bottom: 6px;
		}
		.accessories .price {
			font-size: 25px;
			color: #00638F;
			margin-bottom: 17px;
		}
		.accessories .add {
			margin: 0 auto;
			width: 152px;
			height: 47px;
			position: relative;
		}
			.accessories .add a {
				display: block;
				height: 47px;
				background: linear-gradient(to top, #FF6D00, #FFCD00);
				color: #FFFFFF;
				text-align: center;
				line-height: 45px;
				font-size: 20px;
			}
				.accessories .add a:hover {
					background: linear-gradient(to bottom, #FF6D00, #FFCD00);
				}
		.accessories .top, .accessories .bottom {
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
		}
		.accessories .top {
			top: 0;
		}
		.accessories .bottom {
			bottom: 0;
		}
		.accessories .top:before, .accessories .bottom:before, .accessories .top:after, .accessories .bottom:after {
			content: '';
			z-index: 3;
			position: absolute;
			width: 20px;
			height: 60px;
			background: #FFFFFF;
		}
			.accessories .top:before {
				top: -17px;
				left: -16px;
				transform: rotate(27deg);
			}
			.accessories .bottom:before {
				bottom: -17px;
				left: -16px;
				transform: rotate(-27deg);
			}
			.accessories .top:after {
				top: -17px;
				right: -16px;
				transform: rotate(-27deg);
			}
			.accessories .bottom:after {
				bottom: -17px;
				right: -16px;
				transform: rotate(27deg);
			}
			
			
.zakaz {
	margin-top: -16px;
	font-size: 23px;
	font-family: 'din_medium', 'din', sans-serif;
}
	.zakaz h2 {
		margin-bottom: 66px;
	}
	.zakaz .line {
		height: 70px;
		margin-bottom: 18px;
	}
		.zakaz .title-line {
			padding-top: 14px;
			height: 68px;
			font-size: 20px;
		}
		.line > div {
			float: left;
			position: relative;
		}
		.line > div:nth-child(1) {
			width: 50%;
		}
		.line > div:nth-child(2) {
			width: 25%;
		}
		.line > div:nth-child(3) {
			width: 25%;
		}
		.line .color { 
			display: inline-block; 
			vertical-align: middle;
		}
			.line .color span {
				padding-left: 3px;
				padding-top: 3px;
				width: 30px;
				height: 30px;
			}
			.line .color span span {
				width: 24px;
				height: 24px;
			}
		.line > div:nth-child(1) > label {
			margin-right: 10%;
		}
		.line input[type="checkbox"] {
			display: none;
		}
		.line input[type="checkbox"] + label {
			display: inline-block;
			width: 37px;
			height: 37px;
			background: url('../images/checkbox.png') no-repeat left top;
			vertical-align: middle;
		}
			.line input[type="checkbox"]:checked + label {
				background-position: left bottom;
			}
		.line > div:nth-child(2) > * {
			display: inline-block;
			width: 56px;
		}
		.line > div:nth-child(2) div {
			cursor: pointer;
			height: 42px;
			color: #FFFFFF;
			background-color: #00608E;
			vertical-align: middle;
			text-align: center;
			font-size: 42px;
			line-height: 34px;
			font-family: 'din', 'din', sans-serif;
			transition: opacity 0.3s;
			border-radius: 2px;
		}
			.line > div:nth-child(2) div:hover {
				opacity: 0.75;
			}
		.line > div:nth-child(2) input {
			text-align: center;
			font-size: 32px;
		}
		.line > div:nth-child(3) span {
			font-size: 32px;
			vertical-align: middle;
		}
	.itogo {
		width: 290px;
		height: 90px;
		float: right;
		margin-bottom: 50px;
	}
		.itogo .text{
			background: linear-gradient(to top, #FF6D00, #FFCD00);
			height: 90px;
			color: #FFFFFF;
			text-align: center;
			line-height: 88px;
			font-size: 32px;
		}
		.itogo .figure .top:before {
			left: -5px;
			top: -17px;
			background: #FFFFFF;
		}
		.itogo .figure .bottom:before {
			left: -5px;
			bottom: -17px;
			background: #FFFFFF;
		}
		.itogo .figure .top:after {
			right: -5px;
			top: -17px;
			background: #FFFFFF;
		}
		.itogo .figure .bottom:after {
			right: -5px;
			bottom: -17px;
			background: #FFFFFF;
		}
	.bonus {
		clear: both;
		font-size: 23px;
		margin-bottom: 50px;
	}
		.bonus span {
			color: #FFFFFF;
			background: #FF1980;
			padding: 1px 10px 5px;
			display: inline-block;
		}
	
.zakaz form {
	padding-top: 4px;
}	
	.zakaz form label {
		display: block;
		color: #9E9F9F;
		margin-bottom: 7px;
	}
	.zakaz form input {
		display: block;
		width: 100%;
		border: 1px solid #00608E;
		padding: 0 6px;
		height: 47px;
		margin-bottom: 26px;
	}
	.zakaz ul {
		padding-top: 20px;
		margin-bottom: 35px;
	}
	.zakaz li {
		line-height: 28px;
		background: url('../images/galochka.png') no-repeat left center;
		padding-left: 46px;
		margin-bottom: 21px;
	}
	.zakaz .wrong-sposob, .zakaz .wrong-tovar {
		color: #FF3838;
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
		margin-bottom: 14px;
	}
	.zakaz .wrong-sposob + p {
		margin-bottom: 16px;
	}
	.zakaz .sposob {
		display: inline-block;
		width: 40%;
		margin-bottom: 18px;
	}
		.zakaz .sposob input {
			display: none;
		}
		.zakaz .sposob label {
			padding-left: 46px;
			line-height: 37px;
			background: url('../images/checkbox.png') no-repeat left top;
			color: #272624;
		}
		.zakaz .sposob input:checked + label {
			background-position: left bottom;
		}
	.zakaz-button {
		width: 288px;
		height: 88px;
		position: relative;
	}
		.zakaz-button  .top:before {
			left: -5px;
			top: -17px;
			background: #FFFFFF;
		}
		.zakaz-button  .bottom:before {
			left: -5px;
			bottom: -17px;
			background: #FFFFFF;
		}
		.zakaz-button  .top:after {
			right: -5px;
			top: -17px;
			background: #FFFFFF;
		}
		.zakaz-button  .bottom:after {
			right: -5px;
			bottom: -17px;
			background: #FFFFFF;
		}
	.zakaz input[type="submit"] {
		border: none;
		height: 88px;
		background: linear-gradient(to top, #FF6D00, #FFC700);
		color: #FFFFFF;
		font-size: 37px;
		font-family: 'din', 'din', sans-serif;
		margin-bottom: 0;
	}
		.zakaz input[type="submit"]:hover {
			background: linear-gradient(to bottom, #FF6D00, #FFC700);
		}
		
#inner-header.opt-header {
	padding-bottom: 18px;
	border: none;
	background: #E6F3FF;
}
	#inner-header.opt-header a.mail {
		color: #FFFFFF;
		background: linear-gradient(to top, #FF6E00, #FFC700);
		font-size: 19px;
		font-family: 'din_bold', 'din', sans-serif;
		border-radius: 100px;
		display: inline-block;
		padding: 10px 14px;
		margin-top: 4px;
	}
		#inner-header.opt-header a.mail:hover {
			background: linear-gradient(to bottom, #FF6E00, #FFC700);
		}
.opt-content {
	min-height: 500px;
	background: url('../images/opt-bg.jpg') no-repeat center top;
	background-size: cover;
	padding-bottom: 30px;
}
	.opt-content h2 {
		font-size: 45px;
		color: #FFFFFF;
		text-align: center;
		padding-top: 42px;
		line-height: 1.2;
		margin-bottom: 39px;
	}
	.opt-content form {
		text-align: center;
		position: relative;
		background: #FFFFFF;
		font-family: 'din_medium', 'din', sans-serif;
		padding-top: 31px;
		z-index: 4;
	}
	.opt-content ::-webkit-input-placeholder {
		color: #737372 !important;
	}
	.opt-content :-moz-placeholder {
		color: #737372 !important;
		opacity: 1;
	}
	.opt-content ::-moz-placeholder {
		color: #737372 !important;
		opacity: 1;
	}
	.opt-content :-ms-input-placeholder {
		color: #737372 !important;
	}
	.opt-content :placeholder-shown {
		color: #737372 !important;
	}
		.opt-content form h3 {
			color: #00608E;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 31px;
		}
			.opt-content form input {
				width: 70%;
				margin: 0 auto;
			}
				.opt-content form input:not([type="submit"]) {
					font-size: 16px;
					border: 1px solid #E7E7E7;
					padding: 0 10px;
					height: 39px;
					margin-bottom: 19px;
				}
				.opt-content form input[type="submit"] {
					width: 50%;
					color: #FFFFFF;
					background: linear-gradient(to top, #FF6E00, #FFC700);
					margin-top: -7px;
					height: 37px;
					margin-bottom: 16px;
				}
					.opt-content form input[type="submit"]:hover {
						background: linear-gradient(to bottom, #FF6E00, #FFC700);
					}
			.opt-content form .form-bottom {
				background: linear-gradient(to top, #FF6E00, #FFC700);
				height: 40px;
			}
footer.opt-footer .container {
	top: 0;
}

.online {
	margin-top: -36px;
}
	.online h2 {
		margin-bottom: 113px;
	}
	.online form {
		font-size: 23px;
		color: #272624;
		font-family: 'din_medium', 'din', sans-serif;
	}
	.online-line {
		position: relative;
		margin-bottom: 34px;
	}
		.online-line label {
			width: 40%;
			vertical-align: middle;
			display: inline-block;
			text-align: right;
			padding-right: 10%;
		}
		.online-line input {
			width: 55%;
			vertical-align: middle;
		}
		.online-line input[type="text"] {
			border: 1px solid #00608E;
			height: 47px;
			padding: 0 10px;
		}
		.online-line input[type="radio"] {
			width: 40%;
			opacity: 0;
		}
			.online-line input[type="radio"] + label {
				width: 55%;
				text-align: left;
				padding-left: 46px;
				line-height: 37px;
				background: url('../images/checkbox.png') no-repeat left top;
			}
			.online-line input[type="radio"]:checked + label {
				background-position: left bottom;
			}
		.online-line span {
			display: block;
			text-align: center;
		}
		.online-submit {
			text-align: right;
		}
			.online-submit .figure {
				display: inline-block;
				width: 290px;
				height: 90px;
			}
			.online-submit input {
				height: 90px;
				width: 100%;
				background: linear-gradient(to top, #FF6E00, #FFC700);
				color: #FFFFFF;
				font-size: 32px;
			}
			.online-submit input:hover {
				background: linear-gradient(to bottom, #FF6E00, #FFC700);
			}
			.online-submit  .top:before {
				left: -5px;
				top: -17px;
				background: #FFFFFF;
			}
			.online-submit  .bottom:before {
				left: -5px;
				bottom: -17px;
				background: #FFFFFF;
			}
			.online-submit .top:after {
				right: -5px;
				top: -17px;
				background: #FFFFFF;
			}
			.online-submit  .bottom:after {
				right: -5px;
				bottom: -17px;
				background: #FFFFFF;
			}