@font-face {
    font-family: 'din';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Black.woff') format('woff'), 
	url('../fonts/DINPro-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_reg';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Regular.woff') format('woff'), 
	url('../fonts/DINPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_medium';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Medium.woff') format('woff'), 
	url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'din_bold';
    src: local('$'), local('$'),
	url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: 'din', sans-serif;
	line-height: 1.1;
	color: #FFFFFF;
}
::-webkit-input-placeholder {
	color: #4F4F4F !important;
}
:-moz-placeholder {
	color: #4F4F4F !important;
	opacity: 1;
}
::-moz-placeholder {
	color: #4F4F4F !important;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #4F4F4F !important;
}
:placeholder-shown {
	color: #7B7472 !important;
}

#top-line {
	height: 12px;
	background-color: #00608F;
}
#front-header {
	height: 1216px;
	position: relative;
	background: url('../images/front-header-bg.jpg') no-repeat center top;
}
	#front-header .container {
		position: relative;
	}
	#front-header .title {
		text-align: center;
		font-size: 30px;
		color: #FFFFFF;
		padding-top: 20px;
	}
	#front-header .phones {
		padding-top: 4px;
		text-align: right;
	}
		#front-header .phones > a {
			display: block;
			color: #A4EBFF;
			font-size: 26px;
			margin-bottom: 3px;
			font-family: 'din_bold', 'din', sans-serif;
		}
		#front-header .phones > a.callback {
			font-family: 'din', sans-serif;
			font-size: 18px;
			color: #FFFFFF;
			text-transform: uppercase;
			background: linear-gradient(to top, #FF6E00, #FFC700);
			display: inline-block;
			border-radius: 100px;
			padding: 10px 14px 10px 35px;
			margin-top: 4px;
			position: relative;
			transition: background 0.3s;
		}
			#front-header .phones > a.callback:hover {
				background: linear-gradient(to bottom, #FF6E00, #FFC700);
			}
			#front-header .phones > a.callback:before{
				content: '';
				position: absolute;
				width: 17px;
				height: 25px;
				left: 13px;
				top: 8px;
				background: url('../images/callback-bg.png') no-repeat 0 0
			}
	nav {
		background: #00608E;
		height: 50px;
		border-radius: 18px;
		margin-top: 10px;
		position: relative;
	}
		nav .logo {
			position: absolute;
			display: block;
			width: 203px;
			height: 173px;
			left: -15px;
			top: -63px;
			background: url('../images/logo.png') no-repeat 0 0;
		}
		nav ul {
			padding: 5px 0 5px 250px;
		}
			nav ul li {
				display: inline-block;
				margin-right: 10%;
				height: 40px;
				border: 3px solid transparent;
				border-radius: 20px;
				transition: border 0.3s, box-shadow 0.3s;
			}
			nav ul li:last-child {
				margin-right: 0;
			}
			nav ul li.active, nav ul li:hover {
				border: 3px solid #A4EBFF;
				box-shadow: 0 0 0 1px #71CDE8, inset 0 0 0 1px #71CDE8;
			}
				nav ul li a {
					font-family: 'din_bold', 'din', sans-serif;
					color: #FFFFFF;
					font-size: 21.5px;
					line-height: 28px;
					padding: 0 20px;
				}
	.utp {
		color: #00608E;
		font-size: 45px;
		text-align: center;
		padding-top: 24px;
		line-height: 1;
	}
	.get-a-gift {
		position: absolute;
		right: 0;
		top: 450px;
		width: 300px;
		min-height: 300px;
		background: #006C91;
		box-shadow: 0 2px 3px 2px rgba(0,110,153,0.5);
		z-index: 3;
		padding: 20px 25px;
		text-align: center;
	}
		.get-a-gift h3 {
			font-size: 26px;
			color: #FFBF00;
			margin-bottom: 14px;
		}
		.get-a-gift p {
			font-size: 20px;
			font-family: 'din_medium', 'din', sans-serif;
			line-height: 1.2;
		}
		.get-a-gift p span {
			color: #FFBF00;
			font-family: 'din', sans-serif;
		}
		.get-a-gift form {
			padding-top: 25px;
		}
		.get-a-gift input {
			width: 95%;
			height: 35px;
			border-radius: 20px;
			padding: 0 10px;
			margin-bottom: 21px;
		}
		.get-a-gift input[type="phone"],
		.get-a-gift input[type="text"] {
			color: #4F4F4F;
			font-family: 'din_reg', 'din', sans-serif;
			font-size: 18px;
		}
		.get-a-gift input[type="submit"] {
			height: 60px;
			margin-bottom: 0;
			padding: 0;
			background: linear-gradient(to top, #FF7108, #F8C605);
			transition: background;
			font-size: 24px;
		}
			.get-a-gift input[type="submit"]:hover  {
				background: linear-gradient(to bottom, #FF7108, #F8C605);
			}
			.figure {
				position: relative;
				overflow: hidden;
			}
				.figure .top, .figure .bottom {
					position: absolute;
					width: 100%;
					height: 0;
					left: 0;
				}
				.figure .top {
					top: 0;
				}
				.figure .bottom {
					bottom: 0;
				}
				.figure .top:before, .figure .bottom:before,
				.figure .top:after, .figure .bottom:after {
					content: '';
					z-index: 3;
					position: absolute;
					width: 20px;
					height: 60px;
					background: #006C91;
				}
				.figure .top:before {
					left: 0;
					top: -24px;
					transform: rotate(27deg);
				}
				.figure .bottom:before {
					left: 0;
					bottom: -24px;
					transform: rotate(-27deg);
				}
				.figure .top:after {
					right: 0;
					top: -24px;
					transform: rotate(-27deg);
				}
				.figure .bottom:after {
					right: 0;
					bottom: -24px;
					transform: rotate(27deg);
				}
				
	.perks {
		position: absolute;
		width: 100%;
		height: 563px;
		bottom: 0;
		left: 0;
		background: url('../images/perks-bg.png') no-repeat center bottom;
		z-index: 2;
		padding-top: 217px;
	}
		.perks .row > div {
			text-align: center;
		}
		.perks .ico {
			width: 183px;
			height: 180px;
			margin: 0 auto 20px;
			background-repeat: no-repeat;
			background-position: center top;
		}
			.perks .row > div:nth-child(1) .ico {
				background-image: url('../images/perk-1.png');
			}
			.perks .row > div:nth-child(2) .ico {
				background-image: url('../images/perk-2.png');
			}
			.perks .row > div:nth-child(3) .ico {
				background-image: url('../images/perk-3.png');
			}
			.perks .row > div:nth-child(4) .ico {
				background-image: url('../images/perk-4.png');
			}
		.perks p {
			color: #00608B;
			font-family: 'din_medium', 'din', sans-serif;
			font-size: 20px;
		}
		
.choose-top {
	background: url('../images/choose-top.png') no-repeat center 0;
	height: 126px;
	margin-top: -72px;
	margin-bottom: 19px;
}
.palki {
	margin-bottom: 20px;
}
.palki h2, .size h2 {
	font-size: 47px;
	text-align: center;
	color: #00608B;
	line-height: 0.9;
	margin-bottom: 40px;
}
.palki-item {
	min-height: 540px;
	position: relative;
	color: #00608B;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 35px;
	margin-bottom: 50px;
}
.palki-1 {
	background-image: url('../images/palki-1.png');
}
.palki-2 {
	background-image: url('../images/palki-2.png');
}
.palki-3 {
	background-image: url('../images/palki-3.png');
}
.palki-4 {
	background-image: url('../images/palki-4.png');
}
	.palki-item .sticker {
		position: absolute;
		top: 30px;
		right: 20px;
		width: 136px;
		height: 137px;
		background: url('../images/sticker.png') no-repeat 0 0;
	}
	.palki-item .name {
		font-size: 30px;
		margin-bottom: 6px;
	}
	.palki-item .price {
		font-size: 36px;
		font-family: 'din_medium', 'din', sans-serif;
		margin-bottom: 135px;
	}
	.palki-item .name2 {
		text-align: right;
		font-size: 18px;
		margin-bottom: 12px;
	}
		.palki-item .name2 h3 {
			font-size: 25px;
			margin-bottom: 6px;
		}
	.palki-item .description {
		text-align: right;
		font-size: 20px;
		font-family: 'din_medium', 'din', sans-serif;
		padding-left: 50%;
		margin-bottom: 15px;
	}
	.palki-item .buttons {
		text-align: right;
	}
	.palki-item .about{
		width: 130px;
		display: inline-block;
		margin: 0 10px 25px 0;
	}
		.palki-item .about .top:before,
		.palki-item .about .bottom:before {
			left: -13px;
			background-color: #FFFFFF;
		}
		.palki-item .about .top:after,
		.palki-item .about .bottom:after {
			right: -13px;
			background-color: #FFFFFF;
		}
		.palki-item .about a {
			height: 40px;
			display: block;
			background: linear-gradient(to top, #004B93, #1B87B8);
			color: #FFFFFF;
			text-align: center;
			font-size: 19px;
			font-family: 'din_medium', 'din', sans-serif;
			line-height: 38px;
			transition: background 0.3s;
		}
			.palki-item .about a:hover {
				background: linear-gradient(to bottom, #004B93, #1B87B8);
			}
	.oneclick {
		display: inline-block;
		width: 250px;
	}
	.palki-item .oneclick {
		margin-right: 30px;
	}
		.oneclick .top:before,
		.oneclick .bottom:before {
			left: -5px;
			background-color: #FFFFFF;
		}
		.oneclick .top:after,
		.oneclick .bottom:after {
			right: -5px;
			background-color: #FFFFFF;
		}
		.oneclick a {
			display: block;
			height: 75px;
			background: linear-gradient(to top, #F26D0E, #F8C605);
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
			line-height: 73px;
			transition: background 0.3s;
		}
			.oneclick a:hover {
				background: linear-gradient(to bottom, #F26D0E, #F8C605);
			}
			
.size {
	background: #E6F3FF;
	border-top: 9px solid #4EABC7;
	position: relative;
	min-height: 300px;
	padding-top: 83px;
	padding-bottom: 95px;
}
	.size:before {
		content: '';
		position: absolute;
		width: 213px;
		height: 136px;
		top: -77px;
		left: calc(50% - 106px);
		background: url('../images/size-top.png') no-repeat 0 0;
	}
	.size h2 {
		margin-bottom: 77px;
	}
	.begunok {
		color: #00608B;
		font-size: 24px;
		font-family: 'din_medium', 'din', sans-serif;
		text-align: center;
		padding-top: 38px;
	}
		.begunok span {
			margin-bottom: 20px;
			display: inline-block;
		}
	.begunok-area {
		padding: 47px 0;
	}
	#slider {
		position: relative;
		width: 90%;
		margin: 0 auto;
		height: 5px;
		background: #00608B;
		border: none;
		border-radius: 0;
		border-bottom: 2px solid #0080BA;
	}
		#slider .minus, #slider .plus {
			position: absolute;
			width: 50px;
			height: 40px;
			box-shadow: 2px 2px 0 0 #FF5E00;
			background: linear-gradient(to top, #FF6B00, #FFCC00);
			top: -18px;
			font-size: 47px;
			color: #FFFFFF;
			line-height: 38px;
			text-align: center;
			cursor: pointer;
		}
		#slider .minus {
			left: -50px;
		}
		#slider .plus {
			right: -50px;
		}
		#slider .ui-slider-handle {
			width: 85px;
			height: 55px;
			background: linear-gradient(to top, #FF6C00, #FFCC00);
			top: -26px;
			margin-left: -43px;
			box-shadow: 2px 2px 0 0 #FF5E00;
			border-radius: 0;
			border: none !important;
		}
		
		
.otzivi {
	background: #00608B;
	border-top: 10px solid #16729C;
	min-height: 300px;
	position: relative;
	padding-top: 66px;
}
	.otzivi:before {
		content: '';
		position: absolute;
		width: 211px;
		height: 122px;
		top: -77px;
		left: calc(50% - 106px);
		background: url('../images/otzivi-top.png') no-repeat 0 0;
	}
	.otzivi h2 {
		font-size: 47px;
		text-align: center;
		margin-bottom: 84px;
	}
	.otziv-prev, .otziv-next {
		
	}
	.otziv .photo {
		width: 175px;
		height: 175px;
		border-radius: 100px;
		border: 8px solid #FFFFFF;
		box-shadow: 0 5px 10px 0 rgba(0,86,125,0.75);
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../images/otsiv-0.jpg');
		float: left;
		margin-right: 50px;
	}
	.otzivi .text {
		font-size: 22px;
	}
	.otzivi .text span {
		display: block;
	}
	.otzivi .text p {
		font-family: 'din_medium', 'din', sans-serif;
	}
	.otziv .readmore {
		width: 165px;
		height: 30px;
		float: right;
		position: relative;
	}
	.otziv .readmore a {
		font-size: 16px;
		font-family: 'din_medium', 'din', sans-serif;
		background: #FFFFFF;
		color: #00608B;
		display: block;
		height: 30px;
		line-height: 28px;
		text-align: center;
	}